body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-45deg, #bd6f09, #0690e0, #ec0202, #3005f1, #ff0606);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
  perspective: 1000px;
  color: white;
}


@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a{
  color: white;
}

a:hover{
  color: black;
}

ul{
  list-style-type: none;
}

h2{
  font-family: cursive;
}

h4{
  margin-top: 1rem;
  font-weight: bold;
}

.card{
  color: black;
  border-radius: 15px;
  box-shadow: 0 10px 30px #ffffff81;
  border-color: white;
}

.img-fluid {
  border-radius: 15px;
  box-shadow: 0 10px 30px #ffffff81;
}


.container:hover{
  cursor: pointer;
}

.media-hover-wrapper {
  position: relative;
  width: 100%;
  max-width: 900px; /* adjust as needed */
  height: 300px;     /* fixed height for uniformity */
  margin: auto;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

.media-hover-wrapper img,
.media-hover-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}


.hover-video {
  opacity: 0;
  pointer-events: none;
}

.media-hover-wrapper:hover .hover-img {
  opacity: 0;
}

.media-hover-wrapper:hover .hover-video {
  opacity: 1;
  pointer-events: auto;
}
